<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modern Love</title>
    <link rel="stylesheet" href="assets/styles/mystyle.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="assets/favicon.svg" type="image/svg" sizes="16x16" />
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      html,
      body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: #000;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <div id="controller" :class="cls">
      <p class="t-txt" style="margin-bottom: 1rem; margin-left: 85px">
        Show the lyrics with certain emotion or containing certain subject
      </p>
      <div id="toggle" v-on:click="toggleController">Show/Close tab</div>
      <div class="t-txt buttons-control" id="buttons">
        Emotion
        <span
          class="mybtn"
          :class="el.class"
          v-for="(el, index) of attitudeBtns"
          v-on:click="filterAttitude(index, el.type)"
          :key="el.type"
        >
          {{el.title}}
        </span>
      </div>
      <div class="t-txt buttons-control" id="subjects">
        Subject
        <span
          class="mybtn"
          :class="el.class"
          v-for="(el, index) of subjectBtns"
          v-on:click="filterSubject(index, el.type)"
          :key="el.type"
        >
          {{el.title}}
        </span>
      </div>
      <div id="modes" class="buttons-control t-txt">
        Modes
        <span
          class="mybtn"
          :class="mode.class"
          v-for="mode of modes"
          v-on:click="switchMode(mode.key)"
          >{{mode.content}}</span
        >
      </div>
    </div>
    <article>
      <h1 style="font-family: 'Josefin Sans', sans-serif">Modern Love</h1>
      <p style="margin-top: 48px">
        The visualization shows data on “attitudes of lyrics” in Chinese popular
        songs (華語流行歌曲) during 2005 to 2020. Color in warm tone represents
        the sentence that has meaning more positive, aggresive rather than the
        “cold tone” which usually shows attitudes more negative.
      </p>
      <div id="legendContainer"></div>
    </article>
    <main>
      <div id="datavzContainer"></div>
    </main>
    <footer id="footer" class="t-small">{{txt}}</footer>
    <!-- Vue.js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"
      integrity="sha512-YXLGLsQBiwHPHLCAA9npZWhADUsHECjkZ71D1uzT2Hpop82/eLnmFb6b0jo8pK4T0Au0g2FETrRJNblF/46ZzQ=="
      crossorigin="anonymous"
    ></script>
    <script src="assets/js/custom.js"></script>
    <!-- P5.js -->
    <script src="assets/js/p5.min.js"></script>
    <script>
      // Global Variables
      let data_arr = [],
        all_data_arr = [];
      let drawMode = "wave";

      // Check if buttons single or multiple
      let [atudControl, subjectControl] = [0, 0];

      // Main DataViz Canvas
      let p5Main = new p5((sketch) => {
        function Data(
          year,
          lyrics,
          attitude,
          love,
          lovePos,
          person,
          sin_arr,
          bz_arr
        ) {
          this.show = true;
          this.subjectShow = true;
          this.year = year;
          this.lyrics = lyrics;
          this.attitude = attitude;
          this.love = love;
          this.lovePos = lovePos;
          this.person = person;
          this.loveColor = loveColorPalette(this.love);
          this.dataX = undefined;
          this.dataY = undefined;
          this.sin = sin_arr;
          this.bz = bz_arr;
          this.bz_v = sketch.random(1, 2) * 0.5;
          this.bz_vx = sketch.random(2) * 0.35;
          this.angle = 0;
          this.offset = 0;
          this.bg = colorPalette(this.attitude);
          this.hover = false;
          this.display = function (x, y) {
            sketch.push();
            sketch.translate(x + offsetX, y + offsetY);
            sketch.strokeWeight(0.5);
            // color
            sketch.stroke(this.bg);
            if (this.show && this.hover) {
              sketch.fill(this.bg);
              sketch.rect(0, 0, this.lyrics.length * em, h);
              sketch.stroke(0, 0, 100);
            } else if (this.show && !this.hover) {
              sketch.noFill();
            } else if (!this.show) {
              sketch.noFill();
              sketch.stroke(10);
            }
            // Draw main graphic
            if (drawMode == "wave") {
              for (let j = 0; j < this.sin.length; j++) {
                sketch.beginShape();
                for (let i = 0; i < this.lyrics.length; i++) {
                  this.angle = sketch.TWO_PI / i + this.offset;
                  sketch.vertex(
                    i * em,
                    sketch.sin(this.angle) * this.sin[j].h + h / 2
                  );
                }
                sketch.endShape();
              }
              this.offset += 0.03;
            } else if (drawMode == "songs") {
              for (let i = 0; i < this.bz.length; i++) {
                sketch.bezier(
                  0,
                  h / 2,
                  this.bz[i].bzcx1,
                  this.bz[i].bzcy1,
                  this.bz[i].bzcx2,
                  this.bz[i].bzcy2,
                  this.lyrics.length * em,
                  h / 2
                );
              }
            }
            // Draw the position of "love"
            if (this.love != 0) {
                sketch.push();
                sketch.translate(0, 0);
                sketch.fill(this.loveColor);
                sketch.strokeWeight(0.5);
                sketch.noStroke();
                sketch.rect(this.lovePos - 3, -3, 6, 6);
                sketch.stroke(0, 0, 100);
                sketch.pop();
            }
            //Draw the type of "subject"
            if (this.subjectShow) {
              if (this.person != 0) {
                  sketch.translate((this.lyrics.length * em) / 2, h / 2);
                  sketch.stroke(0, 0, 100);
                  if (this.person == 1) {
                  sketch.line(0, 0, 0, -10);
                  } else if (this.person == 2) {
                    sketch.line(0, 0, 0, 10);
                  } else if (this.person == 3) {
                    sketch.line(0, -10, 0, 10);
                  } else if (this.person == 4) {
                    sketch.noFill();
                    sketch.circle(0, 0, 10);
                  }
                sketch.fill(0, 0, 100);
                sketch.circle(0, 0, 4);
              }
            }
            sketch.pop();

            // set x and y position into this object for listener
            this.dataX = x + offsetX;
            this.dataY = y + offsetY;
          };
        }

        // Songs information
        let songs = [
          {
            title: "想見你想見你想見你",
            year: "2020",
            singer: "八三夭",
            theme: "broken",
            atudPercent: 0,
            subjectPercent: 0,
            interPercent: 0,
          },
          {
            title: "怎麼了",
            year: "2019",
            singer: "周興哲",
            theme: "broken",
            atudPercent: 0,
            subjectPercent: 0,
            interPercent: 0,
          },
          {
            title: "體面",
            year: "2018",
            singer: "于文文",
            theme: "broken",
            atudPercent: 0,
            subjectPercent: 0,
            interPercent: 0,
          },
          {
            title: "讓我留在你身邊",
            year: "2017",
            singer: "陳奕迅",
            theme: "prepared",
            atudPercent: 0,
            subjectPercent: 0,
            interPercent: 0,
          },
          {
            title: "不為誰而作的歌",
            year: "2016",
            singer: "林俊傑",
            theme: "broken",
            atudPercent: 0,
            subjectPercent: 0,
            interPercent: 0,
          },
          {
            title: "小幸運",
            year: "2015",
            singer: "田馥甄",
            theme: "broken",
            atudPercent: 0,
            subjectPercent: 0,
            interPercent: 0,
          },
          {
            title: "像是天堂的懸崖",
            year: "2014",
            singer: "李佳薇",
            theme: "broken",
            atudPercent: 0,
            subjectPercent: 0,
            interPercent: 0,
          },
          {
            title: "傷心的人別聽慢歌",
            year: "2013",
            singer: "五月天",
            theme: "broken",
            atudPercent: 0,
            subjectPercent: 0,
            interPercent: 0,
          },
          {
            title: "我不願讓你一個人",
            year: "2012",
            singer: "五月天",
            theme: "broken",
            atudPercent: 0,
            subjectPercent: 0,
            interPercent: 0,
          },
          {
            title: "天后",
            year: "2011",
            singer: "陳勢安",
            theme: "broken",
            atudPercent: 0,
            subjectPercent: 0,
            interPercent: 0,
          },
          {
            title: "洋蔥",
            year: "2010",
            singer: "叮噹",
            theme: "prepared",
            atudPercent: 0,
            subjectPercent: 0,
            interPercent: 0,
          },
          {
            title: "沒有如果",
            year: "2009",
            singer: "梁靜茹",
            theme: "prepared",
            atudPercent: 0,
            subjectPercent: 0,
            interPercent: 0,
          },
          {
            title: "說好的幸福呢",
            year: "2008",
            singer: "周杰倫",
            theme: "broken",
            atudPercent: 0,
            subjectPercent: 0,
            interPercent: 0,
          },
          {
            title: "背叛",
            year: "2007",
            singer: "曹格",
            theme: "broken",
            atudPercent: 0,
            subjectPercent: 0,
            interPercent: 0,
          },
          {
            title: "千里之外",
            year: "2006",
            singer: "周杰倫、費玉清",
            theme: "prepared",
            atudPercent: 0,
            subjectPercent: 0,
            interPercent: 0,
          },
          {
            title: "夜曲",
            year: "2005",
            singer: "周杰倫",
            theme: "broken",
            atudPercent: 0,
            subjectPercent: 0,
            interPercent: 0,
          },
        ];

        let song, table;
        let atudProp, subjectProp, interProp;
        let nowShowLength = 0;
        let intersecControl = false;
        let mouseX, mouseY, cnv, clickData;
        let [x, y, em, offsetX, offsetY, h] = [10, 30, 1.6, 200, 70, 75];
        let [btnX, btnY] = [10, 10];
        let gap = h*2;
        let rem = 12;
        let beginYear = "2020";
        let article = document.querySelector("article");

        sketch.preload = function () {
          //load data
          table = sketch.loadTable("assets/data/data.csv", "csv", "header");
        };

        sketch.setup = function () {
          sketch.createCanvas(window.innerWidth, 16 * gap + 150);
          sketch.colorMode(sketch.HSB);

          for (let i = 0; i < table.getRowCount(); i++) {
            let row = table.getRow(i);

            let year = row.getString("Year");
            let lyrics = row.getString("String").replace(/\s*/g, "");
            let attitude = row.getString("Attitude");
            let love = row.getNum("Love");
            let lovePos = lyrics.indexOf("愛");
            let person = row.getNum("Person");
            let sinObj = undefined;
            let sin_arr = [];
            let bzObj = undefined;
            let bz_arr = [];

            //prepare data bezier
            for (let i = 0; i < 10; i++) {
              let [bzcx1, bzcy1, bzcx2, bzcy2] = [
                sketch.random(lyrics.length * em*30),
                sketch.random(h + 20*sketch.random(-5, 5)),
                sketch.random(lyrics.length * em),
                sketch.random(h + 20),
              ];
              bzObj = {
                bzcx1: bzcx1,
                bzcy1: bzcy1,
                bzcx2: bzcx2,
                bzcy2: bzcy2,
              };

              bz_arr.push(bzObj);
            }

            //prepare sin data
            for (let i = 0; i < 10; i++) {
              let sin_h = sketch.random(-30, 30);
              sinObj = {
                h: sin_h,
              };
              sin_arr.push(sinObj);
            }

            //Create object
            let data_obj = new Data(
              year,
              lyrics,
              attitude,
              love,
              lovePos,
              person,
              sin_arr,
              bz_arr
            );

            // Switch to next year into another array
            if (year == beginYear) {
              data_arr.push(data_obj);
              if (i == table.getRowCount() - 1) {
                all_data_arr.push(data_arr);
              }
            } else {
              beginYear = year;
              all_data_arr.push(data_arr);
              data_arr = [];
              data_arr.push(data_obj);
            }
          }
        };

        sketch.draw = function () {
          sketch.background(0, 0, 0);

          for (let i = 0; i < all_data_arr.length; i++) {
            // Description
            // Render song information
            renderSong(
              songs[i].title,
              songs[i].year,
              songs[i].singer,
              offsetX - 10,
              offsetY + y + 40,
              songs[i].theme,
              songs[i].atudPercent,
              songs[i].subjectPercent,
              songs[i].interPercent
            );
            //Draw percentage
            for (let j = 0; j < all_data_arr[i].length; j++) {
              let nowData = all_data_arr[i][j];
              let lyricsLength = nowData.lyrics.length;
              // Draw
              nowData.display(x, y);
              x += lyricsLength * em;
              // Count percentage
              if (nowData.show) {
                atudProp++;
              }
              if (nowData.subjectShow && nowData.person != 0) {
                subjectProp++;
              }
              if (nowData.person != 0 && nowData.subjectShow && nowData.show) {
                interProp++;
              }
            }
            if (atudProp != 0) {
              songs[i].atudPercent =
                ((atudProp / all_data_arr[i].length) * 100).toFixed(0) + "%";
            } else {
              songs[i].atudPercent = "0%";
            }
            if (subjectProp != 0) {
              songs[i].subjectPercent =
                ((subjectProp / all_data_arr[i].length) * 100).toFixed(0) + "%";
            } else {
              songs[i].subjectPercent = "0%";
            }
            if (interProp != 0) {
              songs[i].interPercent =
                ((interProp / all_data_arr[i].length) * 100).toFixed(0) + "%";
            } else {
              songs[i].interPercent = "0%";
            }
            // initializing
            atudProp = 0;
            subjectProp = 0;
            interProp = 0;
            nowShowLength = 0;
            intersecControl = false;
            // Draw
            y += gap;
            x = 10;
          }
          y = 70;
          // Percentage description
          sketch.fill("#ffffff");
          sketch.noStroke();
          sketch.textAlign(sketch.LEFT);
          sketch.text(
            `Percentage of selected emotion among whole song/\nPercentage of selected subject among whole song/\nCross comparison of emotion and subject usage among whole song`,
            155,
            10
          );
          sketch.stroke("#999");
          sketch.line(220, 52, 220, 85);

          // Eventlistener
          sketch.mouseClicked = (e) => {
            clickPos(e);
          };
          sketch.mouseMoved = (e) => {
            hoverPos(e);
          };
        };

        function hoverPos(e) {
          mouseX = e.clientX;
          mouseY = e.clientY;
          for (let i = 0; i < all_data_arr.length; i++) {
            for (let j = 0; j < all_data_arr[i].length; j++) {
              let nowData = all_data_arr[i][j];
              if (
                //hover on data
                mouseX > nowData.dataX &&
                mouseX < nowData.dataX + nowData.lyrics.length * em &&
                mouseY + window.scrollY - article.offsetHeight >
                  nowData.dataY &&
                mouseY + window.scrollY - article.offsetHeight <
                  nowData.dataY + h
              ) {
                if (!nowData.hover) {
                  nowData.bg = sketch.color(
                    sketch.hue(nowData.bg),
                    sketch.saturation(nowData.bg),
                    sketch.brightness(nowData.bg) + 15
                  );
                  nowData.hover = true;
                }
              } else {
                //not hover on NOW data
                if (nowData.hover) {
                  //just being hover need to change to origin
                  nowData.bg = sketch.color(
                    sketch.hue(nowData.bg),
                    sketch.saturation(nowData.bg),
                    sketch.brightness(nowData.bg) - 15
                  );
                }
                nowData.hover = false;
              }
            }
          }
        }

        function clickPos(e) {
          mouseX = e.clientX;
          mouseY = e.clientY;
          clickData = false;
          // console.log(mouseX, mouseY, window.scrollY, article.offsetHeight);

          //if click on data
          for (let i = 0; i < all_data_arr.length; i++) {
            for (let j = 0; j < all_data_arr[i].length; j++) {
              let nowData = all_data_arr[i][j];
              if (
                mouseX > nowData.dataX &&
                mouseX < nowData.dataX + nowData.lyrics.length * em &&
                mouseY + window.scrollY - article.offsetHeight >
                  nowData.dataY &&
                mouseY + window.scrollY - article.offsetHeight <
                  nowData.dataY + h
              ) {
                clickData = true;
                // remove div now
                if (document.querySelector(".lyrics-container.show")) {
                  document
                    .querySelector(".lyrics-container")
                    .classList.remove("show");
                  document
                    .querySelector(".lyrics-container:not(.show)")
                    .addEventListener("transitionend", function () {
                      this.remove();
                    });
                }
                // append new div
                let div = document.createElement("div");
                div.innerHTML = `
                      <span class="t-c-b">${nowData.lyrics}</span>
                    `;
                div.classList.add("lyrics-container");
                div.style.top =
                  mouseY + window.scrollY - article.offsetHeight + "px";
                div.style.left = mouseX + "px";
                if (!document.querySelector(".lyrics-container")) {
                  document.querySelector("main").appendChild(div);
                  window.setTimeout(function () {
                    document
                      .querySelector(".lyrics-container")
                      .classList.add("show");
                  }, 100);
                }
              }
            }
          }
          if (!clickData && document.querySelector(".lyrics-container.show")) {
            document
              .querySelector(".lyrics-container")
              .classList.remove("show");
            document
              .querySelector(".lyrics-container:not(.show)")
              .addEventListener("transitionend", function () {
                this.remove();
              });
          }
        }

        function renderSong(
          title,
          year,
          singer,
          x,
          y,
          theme,
          atudPercent,
          subjectPercent,
          interPercent
        ) {
          let c;
          if (theme == "broken") {
            c = sketch.color(190, 70, 60);
          } else {
            c = sketch.color("#ed3434");
          }
          let step = 3;
          sketch.push();
          sketch.stroke(c);
          sketch.noFill();
          for (let i = 0; i < 10; i++) {
            sketch.arc(
              x - 30,
              y - (step / 2) * i,
              15 + step * i,
              15 + step * i,
              -sketch.HALF_PI + (sketch.QUARTER_PI * (i + 1)) / 10,
              sketch.HALF_PI
            );
          }
          sketch.line(0, y + 7.5, x - 30, y + 7.5);
          sketch.noStroke();
          sketch.fill(0, 0, 100);
          sketch.textAlign(sketch.RIGHT);
          sketch.textSize(rem * 1.25);
          sketch.text(year, x - 40, y - rem * 1.75);
          sketch.textSize(rem);
          sketch.text(title, x - 40, y - rem * 0.25);
          sketch.textSize(rem * 0.75);
          sketch.text(singer, x - 40, y + rem * 2);
          sketch.textSize(rem);
          sketch.text(
            `
            ${atudPercent} / ${subjectPercent} / ${interPercent}
            `,
            x + 130,
            y - 90
          );
          sketch.pop();
        }

        function windowResized() {
          resizeCanvas(windowWidth, 1080);
        }

        function colorPalette(atud) {
          let c, hue, step, coldHue;
          hue = 330;
          coldHue = 150;
          step = 30;

          switch (atud) {
            case "aggressive":
              c = sketch.color(sketch.random(hue, hue + step), 70, 90);
              break;
            case "hope":
              c = sketch.color(
                sketch.random(hue + step, hue + step * 2),
                70,
                90
              );
              break;
            case "stubborn":
              c = sketch.color(
                sketch.random(hue + step * 2, hue + step * 3),
                70,
                90
              );
              break;
            case "nervous":
              c = sketch.color(
                sketch.random(hue + step * 3, hue + step * 4),
                70,
                90
              );
              break;
            case "neutral":
              c = sketch.color(0, 0, 60);
              break;
            case "depressed":
              c = sketch.color(
                sketch.random(coldHue + step, coldHue + step * 2),
                70,
                60
              );
              break;
            case "regret":
              c = sketch.color(
                sketch.random(coldHue + step * 2, coldHue + step * 3),
                50,
                60
              );
              break;
            case "passive":
              c = sketch.color(
                sketch.random(coldHue + step * 3, coldHue + step * 4),
                40,
                60
              );
              break;
            case "hurtHope":
              c = sketch.color(
                sketch.random(coldHue + step * 4, coldHue + step * 5),
                40,
                60
              );
              break;
          }
          return c;
        }

        function loveColorPalette(lv) {
          let c;
          switch (lv) {
            case 1: //noun love
              c = sketch.color("#ff6d94");
              break;
            case 2: //love as a verb
              c = sketch.color("#8c6af2");
              break;
            case 3: //love you
              c = sketch.color("#ed3434");
              break;
            case 4: //love me
              c = sketch.color("#ff5bf4");
              break;
            case 5: //without love
              c = sketch.color("#6bc8ff");
              break;
            case 6: //like
              c = sketch.color("#ffc249");
              break;
            case 7:
              c = sketch.color("#2dffc7");
              break;
          }
          return c;
        }
      }, "datavzContainer");

      // Legends Canvas
      let p5Legend = new p5((sketch) => {
        let subject_arr = ["He/She/They", "You", "I", "You and I", "We"];
        let love_arr = [
          { text: "As a noun", color: "#ff6d94" },
          { text: "As a verb", color: "#8c6af2" },
          { text: "Love you", color: "#ed3434" },
          { text: "Love me", color: "#ff5bf4" },
          { text: "Losing love", color: "#6bc8ff" },
          { text: "Means Like", color: "#ffc249" },
        ];
        let attitude_arr = [
          sketch.color("#e640a6"),
          sketch.color("#ed3434"),
          sketch.color("#e54545"),
          sketch.color("#999"),
          sketch.color("#2e8799"),
          sketch.color("#5c6b99"),
          sketch.color("#6b5c99"),
        ];
        let step = 40;

        sketch.setup = () => {
          console.log("p5legend");
          sketch.createCanvas(800, 350);
          sketch.colorMode(sketch.HSB);
          sketch.background(0, 0, 0);
          drawSubject(50, 50);
          drawLove(200, 50);
          drawTheme(280, 50);
          drawAttitude(380, 0);
        };

        function drawSubject(x, y) {
          sketch.fill(0, 0, 100);
          sketch.push();
          sketch.translate(x, y);
          sketch.text("Subject", 0, 0);
          sketch.translate(0, step);
          sketch.noStroke();
          sketch.circle(0, 0, 5);
          sketch.translate(0, step); //you
          sketch.circle(0, 0, 5);
          sketch.stroke(0, 0, 100);
          sketch.strokeWeight(0.5);
          sketch.line(0, 0, 0, -10);
          sketch.translate(0, step); //me
          sketch.circle(0, 0, 5);
          sketch.stroke(0, 0, 100);
          sketch.strokeWeight(0.5);
          sketch.line(0, 0, 0, 10);
          sketch.translate(0, step); //me and you
          sketch.circle(0, 0, 5);
          sketch.stroke(0, 0, 100);
          sketch.strokeWeight(0.5);
          sketch.line(0, -10, 0, 10);
          sketch.translate(0, step); //we
          sketch.circle(0, 0, 5);
          sketch.stroke(0, 0, 100);
          sketch.strokeWeight(0.5);
          sketch.noFill();
          sketch.circle(0, 0, 13);
          sketch.pop();

          // write the legends description
          sketch.push();
          sketch.translate(x + step / 2, y + step / 10);
          for (let i = 0; i < subject_arr.length; i++) {
            sketch.translate(0, step);
            sketch.text(subject_arr[i], 0, 0);
          }
          sketch.pop();
        }

        function drawLove(x, y) {
          sketch.translate(x, y);
          sketch.text("Use of love (愛)", 0, 0);
          sketch.push();
          sketch.translate(0, -step / 10);
          for (let i = 0; i < love_arr.length; i++) {
            sketch.translate(0, step);
            sketch.fill(love_arr[i].color);
            sketch.rect(0, 0, 10, 10);
            sketch.push();
            sketch.translate(step / 2, step / 5);
            sketch.fill(0, 0, 100);
            sketch.text(love_arr[i].text, 0, 0);
            sketch.pop();
          }
          sketch.pop();
        }

        function drawTheme(x, y) {
          sketch.push();
          let c = sketch.color(190, 70, 60);
          let fanStep = 3;
          sketch.stroke(c);
          sketch.noFill();
          for (let i = 0; i < 10; i++) {
            sketch.arc(
              x - 30,
              y - (fanStep / 2) * i,
              15 + fanStep * i,
              15 + fanStep * i,
              -sketch.HALF_PI + (sketch.QUARTER_PI * (i + 1)) / 10,
              sketch.HALF_PI
            );
          }
          sketch.line(x - 30, y + 8, x - 130, y + 8);
          c = sketch.color("#ed3434");
          sketch.stroke(c);
          sketch.noFill();
          for (let i = 0; i < 10; i++) {
            sketch.arc(
              x - 30,
              y + 120 - (fanStep / 2) * i,
              15 + fanStep * i,
              15 + fanStep * i,
              -sketch.HALF_PI + (sketch.QUARTER_PI * (i + 1)) / 10,
              sketch.HALF_PI
            );
          }
          sketch.line(x - 30, y + 128, x - 130, y + 128);
          sketch.fill("#ffffff");
          sketch.translate(x - 133, y - 50);
          sketch.noStroke();
          sketch.text("Theme of song", 0, 0);
          sketch.text("Sad or heart-broken story", 0, 80);
          sketch.text("Shows aggressive or desire of love", 0, 200);
          sketch.pop();
        }

        function drawAttitude(x, y) {
          let [cx, cy] = [10, 45];
          sketch.push();
          sketch.translate(x, y);
          sketch.fill("#ffffff");
          sketch.text("Lyrics attitudes", 0, 0);
          for (let i = 0; i < 7; i++) {
            sketch.fill(attitude_arr[i]);
            sketch.circle(cx, cy, 25);
            cx += 40;
            if (i == 2) {
              cy = 120;
              cx = 10;
            } else if (i == 3) {
              cy = 195;
              cx = 10;
            }
          }
          sketch.fill("#ffffff");
          sketch.text("Group of positive attitudes", 0, 78);
          sketch.text("Neutral", 0, 152);
          sketch.text("Group of negative attitudes", 0, 227);
          sketch.pop();
        }
      }, "legendContainer");
    </script>
  </body>
</html>
